* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-attachment: fixed;
    background-size: cover;
}


.main {
    padding: 0;
    box-sizing: border-box;
    height: 86vh;
    width: 64vh;
    margin: auto;
    margin-top: 57px;

}

.result {
    margin-top: 10px;
    margin-bottom: 3px;
    height: 7vh;
    margin-right: 10vh;

}

.history {

    height: 6vh;
    margin-right: 10vh;
}


.operator,
.number,
.empty {

    width: 50px;
    height: 50px;
    margin: 10px;
    float: left;
    margin-left: 26px;
    border-radius: 8px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    font-size: larger;
    font-family: sans-serif;
    cursor: pointer;
}

.operator {
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.history p {

    font-size: 23px;
    float: right;
    padding-top: 20px;
    padding-right: 9px;
    font-family: monospace;
}


.result p {

    font-size: 37px;
    float: right;
    padding-right: 7px;

    font-family: sans-serif;
}



@media (min-width:1061px) and (max-width:1140px) {

    .operator,
    .number,
    .empty {

        width: 50px;
        height: 50px;
        margin: 10px;
        float: left;
        margin-left: 21px;
        border-radius: 8px;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        font-size: larger;
        font-family: sans-serif;
        cursor: pointer;
    }

    .main {
        padding: 0;
        box-sizing: border-box;
        height: 89vh;
        width: 31%;
        margin: auto;
        margin-top: 57px;

    }
}


body::after {

    content: "Ram Pareek";
    position: relative;
    float: right;
    margin-right: 12px;
    font-size: 18px;
    font-family: monospace;
    margin-bottom: 4px;
}


.actionCon {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid #333; */
    position: absolute;
    top: 0px;
    /* margin-top: 14%; */
    /* margin-left: 13%; */
    gap: 30%;
    z-index: -1;
}

.actionType4_1,
.actionType4_2 {
    float: left;
    position: relative;
    width: 18vh;

}


.actionType4_1 div,
.actionType4_2 div {
    box-sizing: border-box;
    border-radius: 50%;
    padding: 10px;
    border: 2px solid transparent;
    border-top-color: #48466d;
    border-bottom-color: #3d84a8;
}

.actionType4_1 div {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    animation: circleRotate1 linear 4s infinite;
    -webkit-animation: circleRotate1 linear 4s infinite;
    -moz-animation: circleRotate1 linear 4s infinite;
}

.actionType4_1 div:hover,
.actionType4_2 div:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

@-webkit-keyframes circleRotate1 {
    0% {
        -webkit-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }

    50% {
        -webkit-transform: rotateZ(180deg);
        -moz-transform: rotateZ(180deg);
        transform: rotateZ(180deg);
    }

    100% {
        -webkit-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

@keyframes circleRotate1 {
    0% {
        -webkit-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }

    50% {
        -webkit-transform: rotateZ(180deg);
        -moz-transform: rotateZ(180deg);
        transform: rotateZ(180deg);
    }

    100% {
        -webkit-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

.actionType4_2 div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    animation: circleRotate2 linear 3s infinite;
    -webkit-animation: circleRotate2 linear 3s infinite;
    -moz-animation: circleRotate2 linear 3s infinite;
}

.actionType4_2 div.circle1 {
    position: absolute;
    left: 0px;
    top: -45px;
    width: 100px;
    height: 100px;
    animation-delay: -.5s;
    -webkit-animation-delay: -.5s;
    -moz-animation-delay: -.5s;
}

.actionType4_2 div.circle2 {
    width: 80px;
    height: 80px;
    margin-top: -40px;
    margin-left: -40px;
    animation-delay: -1s;
    -webkit-animation-delay: -1s;
    -moz-animation-delay: -1s;
}

.actionType4_2 div.circle3 {
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;
    animation-delay: -1.5s;
    -webkit-animation-delay: -1.5s;
    -moz-animation-delay: -1.5s;
}

.actionType4_2 div.circle4 {
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
    animation-delay: -2s;
    -webkit-animation-delay: -2s;
    -moz-animation-delay: -2s;
}

@keyframes circleRotate2 {
    0% {
        transform: rotateX(0deg);
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
    }

    50% {
        transform: rotateX(180deg);
        -webkit-transform: rotateX(180deg);
        -moz-transform: rotateX(180deg);
    }

    100% {
        transform: rotateX(360deg);
        -webkit-transform: rotateX(360deg);
        -moz-transform: rotateX(360deg);
    }
}

@-webkit-keyframes circleRotate2 {
    0% {
        transform: rotateX(0deg);
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
    }

    50% {
        transform: rotateX(180deg);
        -webkit-transform: rotateX(180deg);
        -moz-transform: rotateX(180deg);
    }

    100% {
        transform: rotateX(360deg);
        -webkit-transform: rotateX(360deg);
        -moz-transform: rotateX(360deg);
    }
}



.button {
    position: relative;
    cursor: pointer;
    user-select: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button:hover {
    transition-duration: 0.1s;
    background-color: #cfcfcf;
}

.button:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px white;
}

.button:active:after {
    box-shadow: 0 0 0 0 white;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top: 0;
    opacity: 1;
    transition: 0s;
}

.button:active {
    top: 1px;
}
