.back{
    color: blue;
    border-radius: 50px;
    background-color: black;
}

.high{
    color: aliceblue;
}

.bottom{
    margin-top: 90%;
    text-align: center;
    background-color: palevioletred
}

.ntf{
background-color: aqua;
border-radius: 40%;
font-size: 20px;
}

@media screen and (max-width: 600px)
{ 
    font-size: 10px;
}
